@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background: #000;
    padding-top: 100px;
}

#header {
    overflow: visible;
    position: absolute;
    background: transparent;
    z-index: 100;
    padding-top: 100px;
}

#header .logo img {
    max-width: 150px;
    height: auto;
}

.navbar a {
    overflow: visible;
    color: #eaeaea;
    font-size: 18px;
    text-decoration: none;
    margin: 0 15px;
    transition: .5s;
    text-shadow: 0px 5px 10px grey;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover,
.navbar a.active {
    color: #33e39a;
}

.login-text {
    font-size: 25px;
    color: #900808;
    text-decoration: none;
    font-weight: 600;
}

.login {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 60px;
    transition: transform 0.7s ease;
}

.login:hover {
    transform: scale(1.10);
}

.login a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    text-decoration: none;
    text-shadow: 0px 0px 10px grey;
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

.login a i {
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.login:hover a, .login:hover a i {
    color: #900808;
    text-shadow: 0px 0px 10px black;
}

.home {
    color: #eaeaea;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 40px;
    color: #fbcf04;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: whitesmoke;
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 0 10px whitesmoke;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    background: #900808;
    color: black;
    box-shadow: 0 0 15px whitesmoke;
}

.home-img {
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-img .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: eaeaea;
    border: 25px solid #c6a300;
    border-radius: 15px;
    box-shadow: 0px 0px 5px whitesmoke;
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .rhombus img {
    position: absolute;
    max-width: 600px;
    top: 110px;
    left: -250px;
    border-radius: 15px;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 10px whitesmoke;
    opacity: 0;
    animation: Bild 1s ease forwards;
    animation-delay: 2s;
}

.home .rhombus2 {
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    border: 25px solid #c6a300;
    border-radius: 15px;
    background-color: #c6a300;
    transform: rotate(45deg);
    box-shadow: 0px 0px 10px whitesmoke;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
}

/* Keyframes */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Bild {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0% {
        right: -40%;
        opacity: 0;
    }
    100% {
        right: -25%;
        opacity: 1;
    }
}

@media (max-width: 1420px) {
    .rhombus2 {
        display: none;
        overflow: hidden;
    }
}

@media (max-width: 1420px) {
    .rhombus {
        display: none;
        overflow: hidden;
    }
}

@media (max-width: 1420px) {
    body {
        overflow: scroll;
        margin-top: 100px;
    }
}
