@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: #eaeaea;
}

/* Header Styling */
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 150px;
    height: 150px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Login Styling */
.login {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 60px;
    transition: transform 0.7s ease;
}

.login:hover {
    transform: scale(1.10);
}

.login a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    text-decoration: none;
    text-shadow: 0px 0px 10px grey;
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

.login a i {
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.login:hover a, .login:hover a i {
    color: #900808;
    text-shadow: 0px 0px 10px black;
}

/* Navbar Styling */
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #eaeaea;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .5s;
    text-shadow: 0px 5px 10px grey;
    animation: slideTop 1s ease forwards;
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a:hover,
.navbar a.active {
    color: #33e39a;
}

/* Profile Section Styling */
.profile {
    background-color: #2c2c2c;
    color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #424242;
    border: 1px solid #555;
    border-radius: 4px;
    color: #eaeaea;
}

input::placeholder {
    color: #b0b0b0;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #33e39a;
    border: none;
    border-radius: 4px;
    color: #121212;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #28c883;
}

#delete-btn {
    background-color: #d9534f;
}

#delete-btn:hover {
    background-color: #c9302c;
}

#reset-btn {
    width: 98%;
    margin-top: 10px;
    padding: 10px;
    background-color: grey;
    border: none;
    border-radius: 4px;
    color:whitesmoke;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#reset-btn:hover {
    background-color: #fbcf04;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #eaeaea;
}

main {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

#amount-selection {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #424242;
    border: 1px solid #555;
    border-radius: 4px;
    color: #eaeaea;
}
