* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.tradingview-widget-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

#tradingview_1dcca {
    width: 100%;
    height: 80vh;
}

/* Button Styling */
.logoff-button {
    background-color: #f57f00; /* Orange Hintergrundfarbe */
    color: #fff; /* Textfarbe */
    border: none; /* Kein Rand */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 10px 20px; /* Innenabstand */
    cursor: pointer; /* Zeigt an, dass es klickbar ist */
    font-size: 16px; /* Schriftgröße */
    transition: background-color 0.3s ease; /* Übergangseffekt bei Farbänderung */
}

/* Hover-Effekt für den Button */
.logoff-button:hover {
    background-color: #e65100; /* Dunkleres Orange beim Hover */
}

