    <section class="home d-flex flex-column flex-md-row align-items-center justify-content-between pt-5 pt-md-0">
        <div class="home-content text-center text-md-start">
            <h1 class="display-4">Wall street wizzard</h1>
            <h3 class="display-5 text-warning">Practise trading, master the market!</h3>
            <p class="lead">Unleash your inner trading wizard and sharpen your financial skills with Wall Street Wizzard! Whether you're a beginner learning the ropes or an experienced investor aiming to refine your strategies, our platform offers a safe and dynamic environment to practice trading in real-time market conditions. Track the latest market trends, compete with fellow traders, and build the confidence to master the stock market. Step into the world of Wall Street with no risk—just pure, powerful learning.</p>
            <p class="lead">Your journey to becoming a market master starts here!</p>
        </div>

        <div class="home-img position-relative text-center mt-4 mt-md-0">
            <div class="rhombus">
                <img src="assets/homepagebild1.jpg" alt="Home Image" class="img-fluid">
            </div>
        </div>
    </section>

    <script>
        window.addEventListener('resize', function() {
            if (window.innerWidth > 768) {
                window.scrollTo(0, 0);
            }
        });
    </script>
