<header class="header">
    <a routerLink="/" class="logo">
        <img src="/src/assets/Logo.png" alt="Logo">
    </a>
    <nav class="navbar">
        <a routerLink="/content/home" routerLinkActive="active" style="--i:1;">Home</a>
        <a routerLink="/content/tracker" routerLinkActive="active" style="--i:2;">Stock tracker</a>
        <a routerLink="/content/portfolio" routerLinkActive="active" style="--i:3;">Portfolio</a>
        <a routerLink="/content/profile" routerLinkActive="active" style="--i:4;">Profile</a>
    </nav>
    <div class="Login">
        <a routerLink="/content/vor-home" class="logintxt" style="--i:1;">Logout</a>
        <a routerLink="/content/vor-home" style="--i:2;"><i class='bx bx-log-out-circle'></i></a>
    </div>
</header>
