<header class="header d-flex justify-content-between align-items-center fixed-top p-3">
    <a href="#" class="logo">
        <img src="../../assets/Logo.png" alt="Logo">
    </a>

    <nav class="navbar d-flex">
        <a href="#home" style="--i:1;" class="active">Home</a>
        <a href="#about" style="--i:2;">About</a>
        <a href="#features" style="--i:3;">Features</a>
        <a href="#contact" style="--i:4;">Contact</a>
    </nav>

    <div class="Login d-flex align-items-center">
        <a href="Login.html" style="--i:1;" class="logintxt">Login</a>
        <a href="Login.html" style="--i:2;"><i class='bx bx-log-in-circle'></i></a>
    </div>
</header>
