<!-- Standard-Navigation vor dem Login -->
<nav *ngIf="!isVorHomePage()"> 
  <a routerLink="/content/vor-home">Vor Home</a>
  <a routerLink="/content/home">Home</a>
  <a routerLink="/content/portfolio">Portfolio</a>
  <a routerLink="/content/profile">Profile</a>
  <a routerLink="/content/tracker">Tracker</a>
</nav>

<!-- Navigation für Vor Home Seite -->
<ng-container *ngIf="isVorHomePage(); else defaultNavbar">
  <app-vorhome-navbar></app-vorhome-navbar> <!-- Zeigt diese Navbar nur auf Vor Home Seite -->
</ng-container>

<!-- Lila Navbar für andere Seiten, NICHT auf der Vor Home Seite -->
<ng-container *ngIf="!isVorHomePage()"> 
  <app-navbar></app-navbar> <!-- Zeigt diese Navbar nur für andere Seiten -->
</ng-container>

<!-- Standard Navbar für alle anderen Seiten -->
<ng-template #defaultNavbar>
  <app-navbar></app-navbar>
</ng-template>

<router-outlet></router-outlet>
