<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<section id="home" class="home d-flex flex-column flex-md-row align-items-center justify-content-between pt-5 pt-md-0">
    <div class="home-content text-center text-md-start">
        <h1 class="display-4">Welcome to Wall Street Wizzard</h1>
        <h3 class="display-5 text-warning">The platform for trading strategies</h3>
        <p class="lead">Unleash your inner trading wizard and sharpen your financial skills with Wall Street Wizzard! Whether you're a beginner learning the ropes or an experienced investor aiming to refine your strategies, our platform offers a safe and dynamic environment to practice trading in real-time market conditions. Track the latest market trends, compete with fellow traders, and build the confidence to master the stock market. Step into the world of Wall Street with no risk—just pure, powerful learning.</p>
        <p class="lead">Your journey to becoming a market master starts here!</p>
        <a routerLink="/auth/sign-up" class="btn">Sign up</a>
    </div>

    <div class="home-img position-relative text-center mt-4 mt-md-0">
        <div class="rhombus">
            <img src="assets/homepagebild1.jpg" alt="Home Image" class="img-fluid">
        </div>
    </div>
</section>

<section id="about" class="about py-5">
    <div class="container">
        <h2>About</h2>
        <p>Wall Street Wizzard is your platform to learn and perfect trading in a secure environment.</p>
        <img src="assets/überuns.jpg" alt="About us image">
    </div>
</section>

<section id="features" class="features py-5 bg-dark text-light">
    <div class="container">
        <h2>Features</h2>
        <ul>
            <li>Simulate real market conditions</li>
            <li>Interactive stock tracking</li>
            <li>Portfolio management</li>
        </ul>
        <img src="assets/Features.JPG" alt="Features Bild">
    </div>
</section>

<section id="contact" class="contact py-5">
    <div class="container">
        <h2>Contact</h2>
        <p>Do you have any questions? Contact us via our contact form or by email at supportwallstreetwizzard.com</p>
        <img src="assets/Kontaktvorhome.jpg" alt="Contact Bild">
    </div>
</section>

<div class="spacer-space"></div>

<div class="spacer copyright-section text-center">
    <div class="logo-text">Wall Street Wizzard</div>
    <p>&copy; 2024 Wall Street Wizzard | By Lennart Pfeiler, Arvid Harang und Szönyi Marko Robert</p>
</div>
