<body>
    <img src="assets/Logo.png" class="Logo-Bild">
    <div class="login">
        <a href="vorHome.html" class="login-text">Back</a>
    </div>

    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>
        <form id="loginForm" onsubmit="login(this)">
            <div class="input-box">
                <input type="text" class="input-field" name="email" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password" autocomplete="off" required>
            </div>
            <div id="input-submit">
                <button class="submit-btn" id="submit">Sign In</button>
            </div>
        </form>
        <div id="sign-up-link">
            <p>Don't have an account? </p>
            <a routerLink="/auth/sign-up">Sign up!</a>
        </div>
    </div>
</body>