@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.container, .text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Logo-Bild {
    max-width: 100%;
    height: auto;
}

.login {
    margin-top: 20px;
}

.login-text {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}

.login-text:hover {
    transform: scale(1.3);
    color: #900808;
    text-shadow: 0px 6px 12px black;
}

.login-box {
    width: 100%;
    max-width: 440px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header header {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: .3s;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.input-field:focus {
    width: 105%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    background: #094d00;
    transform: scale(1.05, 1);
}

#sign-up-link {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

#sign-up-link a {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

/* Media Queries */
@media (max-width: 862px) {
    .main-container {
        flex-direction: column;
    }
    .Logo-Bild {
        max-width: 80%;
    }
    .login-box {
        margin-top: 20px;
    }
}
